<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
     <link rel="icon" href="/images/icon.png">
  <title>About</title>
</head>
<body>
  {{>header}}
  <p>My name is {{name}}. I'm 15 years old.</p>
  <p> This site uses data from the Jikan API</p>
  <img src="https://i.pinimg.com/originals/c5/91/58/c591583e8a4baae702401fc4229f9f62.jpg">
  {{>footer}}
</body>
</html>