<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/images/icon.png">
  <title> Jikan Characters</title>
</head>
<body>
  {{>header}}
      <p>Search for information on your favourite characters!</p>
  <div class="main">
    <form>
        <input placeholder="Naruto">
       
          <button  class="btn effect01" target="_blank"><span>Search</span></button>
      
</div>
    <p id="name"></p>
    <img id="image" src="">
    <p id="anime"></p>
    <p id= "manga"></p>
  {{>footer}}

  <script src="/js/char-app.js"></script>
</body>
</html>