<!DOCTYPE html> 
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/images/icon.png">
  <title>Jikan Anime</title>
</head>
<body>
  {{>header}}
  <p>Search for information on your favourite anime!</p>
  <div class="main">
    <form>
        <input placeholder="Naruto">
       
          <button href="https://twitter.com/masuwa1018" class="btn effect01" target="_blank"><span>Search</span></button>
      
       
</div>

    </form>
    <p id="title"></p>
    <img id="image" src="">
    <p id="episodes"></p>
    <p id= "rating"></p>
  <div/>
  {{>footer}}
 <script src="/js/app.js"></script>
</body>
</html>