<div class="header">
  <h1>{{title}}</h1>
  <nav class="nav">
    <h2><a href="/">Anime</a></h2>
    <h2><a href="/manga">Manga</a></h2>
    <h2><a href="/char">Character</a></h2>
    <h2><a href="/about">About</a></h2>
    <h2><a href="/help">Help</a></h2>
  </nav>
</div>